.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: #1890ff;
  }
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #d8e8f5;
}

// 侧边栏
.ant-layout-sider {
  background-image: linear-gradient(to bottom, rgb(53, 49, 41), rgb(0, 0, 0));
}
.ant-menu.ant-menu-dark {
  background: rgb(36, 33, 28);
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: rgb(36, 33, 28);
}

// 选中
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: rgb(161, 139, 100);
}

.ant-descriptions {
  width: 250px;
  float: left;
}

.ant-descriptions-item-label {
  line-height: 64px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 900;
}

.ant-descriptions-middle .ant-descriptions-row > td {
  padding: 0;
}

// 登出按钮
.logout {
  margin-right: 30px;
  margin-top: 16px;
  border-radius: 20px;
}

// 搜索栏
.ant-input-group-wrapper {
  width: 400px;
  margin-top: 16px;

  input {
    width: 100%;
    background-color: #eee;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .ant-input-group-addon {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .ant-btn {
    margin: 0;
  }
}

// 首页内容区域
.site-content {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;

  // 中
  .site-middle {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 20px;

    .site-content-middle {
      border-radius: 20px;
      width: 730px;
      height: 400px;
      background-color: #e4edf4;
      float: left;
      margin: 0px 15px;

      // 饼图
      .showDetail {
        width: 730px;
        height: 400px;
      }
      // 轮播图
      .ant-carousel,
      .slick-slider {
        height: 100%;
        // background-color: #ccc;
        border-radius: 20px;
        overflow: hidden;

        h1 {
          font-weight: 900;
          font-size: 32px;
        }

        img {
          width: 320px;
          height: 300px;
          float: left;
          margin-left: 20px;
          border-radius: 20px;
        }

        span {
          -webkit-line-clamp: 10; // 用来限制在一个块元素显示的文本的行数
          display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
          -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
          text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
          word-break: break-all;
          overflow: hidden;
          padding: 30px 30px 0px 30px;
        }
      }
    }
  }
  // 大
  .site-large {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 20px;

    .site-content-large {
      border-radius: 20px;
      width: 1490px;
      height: 400px;
      background-color: #e4edf4;
      float: left;
      margin: 0px 15px;
    }
  }
}
