.artwork_search {
  // width: 100%;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  // text-align: center;
  background-color: #fff;
  overflow: hidden;

  .artwork_item {
    padding: 42px;

    input,
    button {
      border-radius: 20px;
    }

    .search_artwork_button {
      margin-top: 40px;
    }
  }
}

.artwork_card {
  float: left;
  margin: 5px;

  .ant-card-body {
    padding: 24px 24px 10px 24px;
  }

  .artwork_card_img {
    width: 216px;
    height: 260px;
  }
  .artwork_tags,
  .artwork_date {
    float: left;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
  }

  .ant-card-meta-description,
  .artwork_date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .artwork_creater {
    width: 100%;
    float: left;
    margin-top: 10px;

    > span {
      color: #bbb;
    }
  }
}

// .ant-tabs-left {
//   > .ant-tabs-content-holder {
//     width: 100%;
//     height: 100%;
//   }
// }
.tab_content {
  width: 100%;
  height: auto;
}
.ant-tabs {
  width: 100%;
}

.empty {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ant-modal-content {
  width: 700px;
  height: 800px;
  border-radius: 20px;
  .ant-modal-header {
    border-radius: 20px;
  }
  .ant-modal-title {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
  }

  .ant-descriptions {
    width: 100%;

    .ant-descriptions-item-content {
      line-height: 64px;
    }
  }
}

.ant-modal-body {
  padding: 18px 24px;
}
